
body {
    background-color: #111218;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}

html, body {
  background-color: #111218; 
  color: #111218;
  touch-action: manipulation;
  overscroll-behavior: none;
  overflow: hidden;
}

* {
    color: #111218;
    box-sizing: border-box;

}

.container {
  height: 100%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.top_grid {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  margin-top: 25px;
}

.top_image {
  width: 43px;
}

.right {
  margin-right: 0;
  margin-left: auto;
  width: 37px;
}

.card_grid {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

.card_grid .main_button {
  margin-right: 0;
}

.title {
  font-size: 35px;
  font-weight: 600;
  margin-top: 10px;
}

.subtitle {
  font-size: 20px;
  font-weight: 450;
  margin-top: 65px;
  margin-left: 45px;
  color: var(--text);
}

.stack {
  position: relative;
  width: 98%;
  height: 270px;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 17px;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  font-family: sans-serif;
  font-weight: bold;
  overflow: hidden;
}

.stack .card:hover {
  top: -10px;
  transform: scale(1.01);
  box-shadow: 0 6px 16px rgba(0,0,0,0.14), 0 1px 4px rgba(0,0,0,0.10);
  transition: top 0.3s cubic-bezier(.4,2,.6,1), 
    transform 0.5s cubic-bezier(.4,2,.6,1), 
    box-shadow 0.5s;
}
.cardcontent {
  position: absolute;
  top: 3px;
  left: 20px;
  font-size: 22px;
  font-weight: 450;
}

.logo {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 43px;
  height: 43px;
}
